// body {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   min-height: 100vh;

//   background: rgb(163, 208, 219);
//   background: linear-gradient(
//     227deg,
//     rgba(163, 208, 219, 1) 0%,
//     rgba(163, 176, 219, 1) 20%,
//     rgba(163, 173, 219, 1) 34%,
//     rgba(163, 219, 208, 1) 59%,
//     rgba(163, 208, 219, 1) 74%,
//     rgba(163, 208, 219, 1) 100%
//   );
// }

html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #545149;
  background-color: #f4f1ec; 
  font-size: 24px;
  font-family: 'Source Sans Pro', sans-serif;
  /* background-color: green; */
}
nav {
	display: flex;
	justify-content: flex-start;
	padding: 1.5em;
	height: 120px;
	background-color: #4056A1;
	color: #ffffff;
	position: fixed;
	width: 100%;
	z-index: 10;
	top: 0;
}

.nav-center{
	align-content: center;
}
.header {
	display: flex;
    flex-direction: row;
    height: 400px;
    margin-top: 400px;
    align-items: center;
    justify-content: flex-start;
    background-color:brown;
    margin-right: 50px;
}
.header #1{
  background-color:olive;
}
.header #2{
  background-color:grey;
}
.header #3{
  background-color:olive;
}
