<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome to Restaurant Title</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="../styles/customer_facing_css/main2.css" type="text/css" />
  <link rel="stylesheet" href="../styles/customer_facing_css/order_area.css" type="text/css" />
  <link rel="stylesheet" href="../styles/customer_facing_css/foods.css" type="text/css" />


  <link rel="stylesheet" href="../styles/customer_facing_css/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/customer_facing_css/order_status.css" type="text/css" />


  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/customer_side.js"></script>
  <script type="text/javascript" src="/scripts/show_user_name.js"></script>
  <script type="text/javascript" src="/scripts/order_status.js"></script>
  <script type="text/javascript" src="/scripts/user_order_history.js"></script>




  <!-- external js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <div >
      <div id = "page_title">Restaurant Title</div>
    </div>

    <div class="header_items">

          <div id="menu">
            <i class="fas fa-utensils"></i>
          </div>


          <div class = "user_purchase_icons">
            <div  id="user_icon"><i class="far fa-user"></i>
            </div>
            <div class="user_info"></div>
          </div>
        </div>


        <div class= "menu_your_order_buttons">
          <div id="your_order_button">
            <button class="your_order" type="button">Your Order</button>
          </div>
          <div id="order_history_button" >
            <button class="your_history" type="button">Order History</button></div>
        </div>
  </nav>
</div>
<!-- order status-->
  <div class="order_status"></div>
  <div class="order_history"></div>

  <div class="order_area">

    <!-- order list -->
    <div class= "order_list">
      <div id= "order_area_title">Your Current Order:</div>
      <div class="order_area_items" ></div>
    </div>
    <div class="order_icon">
      <div class="checkout">
        <div class="checkout_title">Total</div>
        <div class="checkout_price">$28.45</div>
        <i class="fas fa-money-check-alt"></i>
        <span>Click To Pay</span>
      </div>
    </div>

  </div>




    <!-- Page-specific (main) content here -->
    <div class="wrap_dish_area">
      <div class="dish_area">
        <h2>Available Dishes</h2>
        <main class="foods">
          <!-- <div class="dish_and_price">
            <div class= "dish">
              <img style ="width :20em; height: 20em;" src="https://www.thecoderpedia.com/wp-content/uploads/2020/06/Programming-Memes.jpg"></img>
            </div>
            <div class="dish_price">$8.99</div>
          </div> -->


        </main>
      </div>
    </div>





</body>

</html>
