<!DOCTYPE html>
<html lang="en">

<head>
  <title>Welcome to Restaurant Title</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

  <link rel="stylesheet" href="../styles/customer_facing_css/main2.css" type="text/css" />
  <link rel="stylesheet" href="../styles/customer_facing_css/order_area.css" type="text/css" />
  <link rel="stylesheet" href="../styles/customer_facing_css/foods.css" type="text/css" />

  <link rel="stylesheet" href="../styles/customer_facing_css/layout.css" type="text/css" />
  <link rel="stylesheet" href="../styles/customer_facing_css/order_status.css" type="text/css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js"
    integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>

  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/customer_side.js"></script>
  <script type="text/javascript" src="/scripts/show_user_name.js"></script>
  <script type="text/javascript" src="/scripts/order_status.js"></script>
  <script type="text/javascript" src="/scripts/user_order_history.js"></script>
  <script type="text/javascript" src="/scripts/place_order.js"></script>

  <!-- external js -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
  <!-- Top nav bar (fixed) -->
  <nav>
    <div >
      <div id = "page_title">Restaurant Title</div>
    </div>
    <div class="header_items">
          <div id="menu">
            <i class="fas fa-utensils"></i>
          </div>
          <div class = "user_purchase_icons">
            <div  id="user_icon"><i class="far fa-user"></i>
            </div>
            <div class="user_info"></div>
          </div>
        </div>
        <div class= "menu_your_order_buttons">
          <div id="your_order_button">
            <button class="your_order" type="button">Your Order</button>
          </div>
          <div id="order_history_button" >
            <button class="your_history" type="button">Order History</button></div>
        </div>
  </nav>
</div>
<!-- order status -->
  <div class="order_status"></div>
  <!-- order history -->
  <div class="order_history"></div>
  <div class="order_area">

    <!-- order list -->
    <div class= "order_list">
      <div id= "order_area_title">Your Current Order:</div>
      <form>
      <div class="order_area_items" ></div>
    </div>
    <div class="order_icon">
      <div class="checkout">
        <div class="checkout_title">
          <span style="font-size: xx-large;"><b>Total</b></span><br>
        $<output type="number" name="total_price" class="checkout_price">0</output>
      </div>
        <button type="submit"><i class="fas fa-money-check-alt"></i></button>
      </form>
        <span>Click To Pay</span>
      </div>
    </div>
  </div>

    <!-- Page-specific (main) content here -->
    <div class="wrap_dish_area">
      <div class="dish_area">
        <h2>Available Dishes</h2>
        <main class="foods">
        </main>
      </div>
    </div>
</body>
</html>
