<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="/styles/owner_css/main.css" type="text/css" />
  <link rel="stylesheet" href="/styles/owner_css/nav.css" type="text/css" />
  <link rel="stylesheet" href="/styles/owner_css/header.css" type="text/css" />
  <link rel="stylesheet" href="/styles/owner_css/edit-menu.css" type="text/css" />
  <link rel="stylesheet" href="/styles/owner_css/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/owner_css/history.css" type="text/css" />

  <script src="https://cdnjs.cloudflare.com/ajax/libs/timeago.js/4.0.2/timeago.min.js" integrity="sha512-SVDh1zH5N9ChofSlNAK43lcNS7lWze6DTVx1JCXH1Tmno+0/1jMpdbR8YDgDUfcUrPp1xyE53G42GFrcM0CMVg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script type="text/javascript" src="/scripts/confirm_order.js"></script>
  <script type="text/javascript" src="/scripts/order_history.js"></script>
  <script type="text/javascript" src="/scripts/edit_menu.js"></script>

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"
  integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="
  crossorigin="anonymous" referrerpolicy="no-referrer" />



</head>

<body>

  <nav>
    <div id="owner_title"><i class="fas fa-utensils"></i>&nbsp The Kitchen's View  &nbsp </div> 
    <span>
      <span class="nav-center"> <button class="buttons" id= "edit_menu" type="button" >Edit Menu</button></span>
      <button class="buttons" id="order_history" type="button">Order History</button>
    </span>
  </nav>

  <!--order history-->
  <div class="history">
    <h3 class="order_history"> Order History </h3>
  </div>

  <!--Edit Menu-->
  <!-- <div class="menu">
    <h3 class="edit_menu"> Edit Menu </h3>
  </div> -->

  <!--Main Section-->
  <section class="header">

    <!-- three order containers -->
    <div id="one">
      <h3>New Orders</h3>
      <section class="order-container1"></section>
    </div>

    <div id="two">
      <h3>Orders Confirmed </h3>
      <section class="order-container2"></section>
    </div>

    <div id="three">
      <h3>Orders Ready</h3>
      <section class="order-container3"></section>
    </div>
  </section>

<!--Food container for menu items-->
<section class = "food-container">
</section>

</body>

</html>
