.wrap_dish_area{
  display: flex;
  justify-content: center;
}

.dish_area {
  display: flex;
  flex-direction: column;
  align-content: center;
  max-width: 1000px;
}

h2 {
  display: flex;
  justify-content: center;
  margin-top: 3em;
  margin-bottom: 2em;
}

.foods {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-flow: wrap;
  justify-content: center;
  margin-bottom: 5em;
}

.dish_and_price {
  display: flex;
  flex-direction: column;
  margin: 1em;
}

.dish{
  display: flex;
  height: 20em;
  width: 20em;
  outline: solid;
  outline-width: 5px;
}

.dish_img {
  height: 20em;
  width: 20em;
}

.dish_name_price{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  font-weight: bold;
  margin-top: 0.5em;
}

.dish_price {
  font-size: large;
  display: flex;
  margin-left: .5em;
  align-items: flex-end;


}