.body {
  display: flex;
}

.order_box {
  width: 23%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: rgba(255, 255, 255, 0);
  position: fixed;
  top: 400px;
  right: 150px;
}


.order_area {
  display: flex;
  flex-direction: row;
  /* width: 90%; */
  justify-content: space-around;
  align-content: center;
}

.checkout {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 3em;
}

    .order_icon {
      display: flex;
      align-self: flex-end;
    }

    .fa-money-check-alt {
      font-size: 1em;
      }


    .fa-money-check-alt:hover {
    color: green;
    }

    span{
      font-size: 15px;
    }
  .checkout_price{
    font-family: "impact" ;
  }

  .checkout_price{
      font-size: 1em;
      font-family: arial bold;
  }

  .order_list  {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

    #order_area_title {
      align-self: flex-start;
      font-weight: bold;
      font-family: 'Courier New', Courier, monospace;
      margin-left: 1em;
      margin-top: 3em;
      margin-bottom: 1em;
    }
    .order_area_items {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      border: dashed;
    }

        .order_item {
          display: flex;
          flex-direction: column;
          justify-content: center;
          height: 120px;
          width: 120px;
          background-color: transparent;
          margin-right: 0.25em;
          margin-left: 1em;


        }

                .order_food_image {
                  display: flex;
                  align-self: center;
                  height: 50px;
                  width: 50px;

                }

                .order_item_name_quantity_price {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                }

                .order_item_name {
                  display: flex;
                  justify-content: center;
                  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                }
                    .order_item_quantity_price{
                      display: flex;
                      flex-direction: row;
                      justify-content: space-evenly;
                    }

                    .order_item_name {
                          display: flex;
                          justify-content: center;
                          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        }
                        .order_item_name {
                          display: flex;
                          justify-content: center;
                          font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
                        }

input {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 100%;
  text-align: center;
  border-color: rgba(255, 255, 255, 0);
}

.checkout_title {
  width: 180px;
  text-align: center;
}
.order_item_quantity {
  width: 20px;
}
.order_item_quantity_price {
  margin-left: 10px;
}
.order_item_price {
  margin-right: 30px;
}

