html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #545149;
  background-color: #f4f1ec;
  font-size: 24px;
  font-family: "Source Sans Pro", sans-serif;
  /* background-color: green; */
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 1.5em;
  height: 120px;
  background-color: #4056A1;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}

.nav-center {
  align-content: center;
}


.header {
  display: inline-flex;
  flex-direction: row;
  margin-top: 200px;
  align-items:flex-start;
  justify-content: flex-start;
  background-color: #f4f1ec;
  color: black;
  margin-left: 40px;
  margin-right: 40px;
  border: 1px solid black;
  width: 80%;
  height: auto;
  border: none;
}



#one{
  display: flex;
  flex-direction: column;
  background-color:lightblue;
  border: 1px solid black;
  width: 33%;
  padding: 20px;
  height: 100%;
}
#one input[type=text] {
  background-color: lightblue;
  border:0px;
}
#two{
  display: flex;
  flex-direction: column;
  background-color:rgb(56, 133, 158);
  border: 1px solid black;
  width: 33.5%;
  padding: 20px;
  height: 100%;
}
#two input[type=text] {
  background-color: rgb(56, 133, 158);
  border:0px;
}
#three{
  display: flex;
  flex-direction: column;
  background-color:lightblue;
  border: 1px solid black;
  width: 33.5%;
  padding: 20px;
  height: 100%;
}

#three input[type=text] {
  background-color: lightblue;
  border:0px;
}

.header button{
  margin-top: auto;
}
