nav {
  display: flex;
	/* flex-direction: column; */
	font-size: 20px;
  justify-content: space-between;
  align-items: center;
  padding: 1.5em;
  height: 140px;
  background-color: sienna;
  color: #ffffff;
  position: fixed;
  width: 100%;
  z-index: 10;
  top: 0;
}


#owner_title {
  display: flex;
  align-self: flex-end;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 3em;
}
.nav-center {
  align-content: center;
}

.buttons {
  border-radius: 25px
}

.buttons:hover {
  background-color: orangered;
}

#order_history {
  margin-left: 2em;
}
